/home/kafka/zookeeper/zookeeper-3.4.10

[Unit]
Description=Zookeeper
After=syslog.target

[Service]
SyslogIdentifier=zookeeper
TimeoutStartSec=10min
Type=forking
ExecStart=/home/kafka/zookeeper/zookeeper-3.4.10/bin/zkServer.sh start
ExecStop=/home/kafka/zookeeper/zookeeper-3.4.10/bin/zkServer.sh stop

[Install]
WantedBy=multi-user.target



[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '/home/kafka/kafka/bin/kafka-server-start.sh /home/kafka/kafka/config/server.properties > /home/kafka/kafka/kafka.log 2>&1'
ExecStop=/home/kafka/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target